/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&family=Raleway:wght@600&family=Roboto:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
  background-size: cover;
  background-image: url('/images/hero-dashed-line.svg'),
    url('/images/hero-background.svg');
  background-position: 40% 50%;
  height: 750px;
}

.bg-hero-RTL {
  background-size: cover;
  background-image: url('/images/hero-dashed-line-rtl.svg'),
    url('/images/hero-background.svg');
  background-position: 40% 50%;
  height: 750px;
}

.vertical-text {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

/*  Swiper.Js Customization */
.swiper-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: #cfcfcf;
  opacity: 1;
  margin: 3px;
  cursor: pointer;
}

.swiper-bullet-active {
  background: #22b373 !important;
}

.swiper-button-disabled {
  display: none !important;
}

/* nprogress CSS */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #5ec7f7;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #5ec7f7, 0 0 5px #1f356c;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #5ec7f7;
  border-left-color: #5ec7f7;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*  Datagrid CSS */
div.MuiDataGrid-menuIcon,
div.MuiDataGrid-menuIcon > * {
  width: auto !important;
  visibility: visible !important;
}

.MuiDataGrid-filterForm {
  padding-right: 40px !important;
}

div.MuiDataGrid-filterFormDeleteIcon {
  right: 0;
  float: right;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*  CMS content CSS */
/*  Styles buttons that come from GhostCMS */
.kg-btn.kg-btn-accent {
  text-decoration: none !important;
  background-image: linear-gradient(82.67deg, #5ec7f7 -51.47%, #1f356c 239.3%);
  padding: 0.75rem;
  font-family: Avenir;
  font-weight: 500;
  color: #ffffff;
  border-radius: 0.5rem;
}

.slider {
  position: relative;
  width: 250px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background: linear-gradient(82.67deg, #5ec7f7 -51.47%, #1f356c 239.3%);
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #dee2e6;
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* CSS for the `Under Construction Page` animation
/* Ref: https://codepen.io/ashishpayasee/details/XWpRzZX */
@keyframes sway {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

.object {
  position: absolute;
  animation: sway 2.4s infinite;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
  left: 0;
  right: 0;
  height: 10%;
  z-index: 999;
  text-transform: uppercase;
}

.object-shape {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  background-image: linear-gradient(90deg, #5ec7f7 -56.31%, #1f356c 192.69%);
  margin: 0 auto;
  position: relative;
  color: #fff;
  text-align: center;
  padding-top: 25px;
  font-weight: 800;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.object-shape span {
  font-size: 22px;
  color: white;
}

.object-rope {
  overflow: hidden;
  height: 100%;
  width: 5px;
  background-color: #2187c7;
  content: '';
  display: block;
  margin-left: 50%;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 250px;
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background: linear-gradient(82.67deg, #5ec7f7 -51.47%, #1f356c 239.3%);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background: linear-gradient(82.67deg, #5ec7f7 -51.47%, #1f356c 239.3%);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.triangle:before {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 100%;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: solid 10px white;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

svg.star-svg {
  display: inline;
  background-color: white;
}

.react-simple-star-rating-tooltip {
  background-color: white !important;
  color: #7c7c82 !important;
  margin-left: 8px !important;
  padding: 0px !important;
}
