/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;900&family=Raleway:wght@600&family=Roboto:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  /* 
    This serves a simple way to make sure footer is not close 
    to the navbar when the page doesn't have much content 
  */
  min-height: calc(100vh - 146px - 96px);
}

.bg-hero {
  background-size: cover;
  background-image: url('/images/hero-dashed-line.svg'),
    url('/images/hero-background.svg');
  background-position: 40% 50%;
  height: 750px;
}

.bg-hero-RTL {
  background-size: cover;
  background-image: url('/images/hero-dashed-line-rtl.svg'),
    url('/images/hero-background.svg');
  background-position: 60% 50%;
  height: 750px;
}

.bg-contact {
  background-size: cover;
  background-image: url('/images/hero-background.svg');
  background-position: 40% 50%;
  height: 750px;
}

.vertical-text {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

/*  Swiper.Js Customization */
.swiper-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: #cfcfcf;
  opacity: 1;
  margin: 3px;
  cursor: pointer;
}

.swiper-bullet-active {
  background: #22b373 !important;
}

.swiper-button-disabled {
  display: none !important;
}

/* nprogress CSS */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #5ec7f7;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #5ec7f7, 0 0 5px #1f356c;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #5ec7f7;
  border-left-color: #5ec7f7;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*  Datagrid CSS */
div.MuiDataGrid-menuIcon,
div.MuiDataGrid-menuIcon > * {
  width: auto !important;
  visibility: visible !important;
}

.MuiDataGrid-filterForm {
  padding-right: 40px !important;
}

div.MuiDataGrid-filterFormDeleteIcon {
  right: 0;
  float: right;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*  CMS content CSS */
/*  Styles buttons that come from GhostCMS */
.kg-btn.kg-btn-accent {
  text-decoration: none !important;
  background-image: linear-gradient(82.67deg, #5ec7f7 -51.47%, #1f356c 239.3%);
  padding: 0.75rem;
  font-family: Avenir;
  font-weight: 500;
  color: #ffffff;
  border-radius: 0.5rem;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background: linear-gradient(82.67deg, #5ec7f7 -51.47%, #1f356c 239.3%);
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #dee2e6;
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* CSS for the `Under Construction Page` animation
/* Ref: https://codepen.io/ashishpayasee/details/XWpRzZX */
@keyframes sway {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

.object {
  position: absolute;
  animation: sway 2.4s infinite;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
  left: 0;
  right: 0;
  height: 10%;
  z-index: 999;
  text-transform: uppercase;
}

.object-shape {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  background-image: linear-gradient(90deg, #5ec7f7 -56.31%, #1f356c 192.69%);
  margin: 0 auto;
  position: relative;
  color: #fff;
  text-align: center;
  padding-top: 25px;
  font-weight: 800;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.object-shape span {
  font-size: 22px;
  color: white;
}

.object-rope {
  overflow: hidden;
  height: 100%;
  width: 5px;
  background-color: #2187c7;
  content: '';
  display: block;
  margin-left: 50%;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: calc(100% - 3rem - 16px);
  outline: none;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background: linear-gradient(82.67deg, #5ec7f7 -51.47%, #1f356c 239.3%);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background: linear-gradient(82.67deg, #5ec7f7 -51.47%, #1f356c 239.3%);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

.triangle:before {
  content: '';
  position: absolute;
  left: 30px;
  bottom: 100%;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: solid 10px white;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

svg.star-svg {
  display: inline;
  background-color: white;
}

.react-simple-star-rating-tooltip {
  background-color: white !important;
  color: #7c7c82 !important;
  margin-left: 8px !important;
  padding: 0px !important;
}

/* 404 Page */
.fof-main {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #888;
  margin: 0;
}

.fof {
  display: table-cell;
  vertical-align: middle;
  transition: all 0.6s;
}

.fof h1 {
  font-size: 75px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}


/*header menu scrollbar*/



/* Handle */
@media (min-width:1024px) {

  .header-menu::-webkit-scrollbar {
    height: 6px;
  }

  
  .header-menu::-webkit-scrollbar-thumb {
    background: whitesmoke
  }
  
  /* Handle on hover */
  .header-menu::-webkit-scrollbar-thumb:hover {
    background: #3f7fb351; 
  }

  .menu-scrollable-indicator{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80px; /* Adjust the width of the transparent area */
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); /* Adjust the colors and opacity as needed */
    z-index: 1;
    pointer-events: none; /* Allows clicks to pass through the transparent area */
  }

  [lang="ar"] .menu-scrollable-indicator{
    left:0;
    right:auto;
    height: calc(100% - 6px);
  }

  
}

.scrollbar-invisible::-webkit-scrollbar{
    height: 0;
}

.scrollbar-invisible::-webkit-scrollbar-thumb{
  display: none;
}

.hoverable-scroll:not(:hover)::-webkit-scrollbar{
  display: none;
}

.hoverable-scroll::-webkit-scrollbar {
  height: 6px;
}
.hoverable-scroll::-webkit-scrollbar-thumb {
  background: #3f7fb351; 
}
/* Handle on hover */
.hoverable-scroll::-webkit-scrollbar-thumb:hover {
  background: #3f7fb351; 
}

/* fix applications page rwd issue  #139 */
@media(max-width:600px){
  [page-slug="applications"] .card-grid>.grid-cols-2,
  [page-slug="real-time-data"] .link-card-grid>.grid-cols-2{
    grid-template-columns: repeat(1, minmax(0, 1fr))!important;
  }
  [page-slug="applications"] h5{
    font-weight: 600;
  }
  
}
